# Use PHP54 as default
AddHandler application/x-httpd-php54 .html
<IfModule mod_suphp.c>
    suPHP_ConfigPath /opt/php54/lib
</IfModule>

RewriteEngine On
RewriteRule ^404/?$ /index.html
ErrorDocument 404 /index.html


Redirect 301 /EA_Webinar    /EA-webinar.html
Redirect 301 /project_program_management	 /services.html
Redirect 301 /mobile_services	/services.html
Redirect 301 /commercial		/industries/commercial.html
Redirect 301 /Home		/index.html
Redirect 301 /adobe_summit		/adobe_summit.html
Redirect 301 /Locations		/contactus.html
Redirect 301 /adobe_happyhour		/adobe-happyhour.html



